<!-- la direttiva ngStyle permette di applicare degli stili in base alla condizione-->
<!-- <h4 [ngStyle]="{ backgroundColor: student.gender == 'F' ? 'pink' : 'cyan' }">
    {{ student.name }} - {{ student.hobby }}
</h4> -->

<!-- usiamo una direttiva più potente: ngClass - ogni classe viene applicata se viene soddisfatta la sua condizione-->
<p class="cliccable" [ngClass]="{ 
    'female': student.gender=='F',
    'male': student.gender=='M',
    'underlined': student.hobby=='Paddle'}" (click)="onStudentClick()">
    {{ student.name }} - {{ student.hobby }}
</p>